<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../components/NavBar/NabBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div id="nav" class="bg-dark d-flex justify-content-between align-items-center w-100 mb-2">
        <span class="ms-3" style="width: 25px;"></span>
        <a href="../menu/index.html" class="h-100">
            <img src="/assets/images/logo/2logo.png" alt="Logo" id="logo" class="h-100">
        </a>
        <a href="../../../auth.html" class="me-3 bg-transparent border-0 text-decoration-none">
            <i class="fa-solid fa-right-from-bracket text-white" id="logout" style="font-size: 25px;"></i>
        </a>
    </div>
</body>
</html>